@import 'vendor/ace';
@import 'vendor/flickity';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
  font-family: 'Karla', 'Helvetica Neue', Arial, sans-serif;

  &:after {
    background: url('../images/wood_pattern.png');
    bottom: 0;
    content: '';
    left: 0;
    opacity: .15;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.wrap {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
  min-height: 100vh;
}

.logo {
  max-width: 150px;
}

.image-tile {
  background: #222;
  height: 305px;

  img {
    object-fit: cover;
    opacity: 0;
    width: 100%;
    transition: opacity .4s;
  }

  img.loaded {
    opacity: 1;
  }
}

.nav-link {
  opacity: .45;

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }
}

.gallery {
  background: #222;
}

.gallery-cell {
  background: #222;
  height: 500px;
  width: 100%;
}

.gallery-img {
  display: block;
  max-height: 85%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  transition: opacity 0.4s;
}

.gallery-img.flickity-lazyloaded,
.gallery-img.flickity-lazyerror {
  opacity: 1;
}