<header class="py2">
	<div class="max-width-4 mx-auto px2">
		<div class="sm-flex items-center justify-between">
			<a class="block logo mx-auto sm-mx0" href="/">
				<%= image_tag('plane_logo.svg') %>
			</a>
			<ul class="list-reset sm-my0 center sm-right">
				<li class="inline-block mr2">
					<a class="h3 text-decoration-none color-inherit nav-link <%= nav_active('index.html') %>" href="/">Home</a>
				</li>
				<li class="inline-block">
					<a class="h3 text-decoration-none color-inherit nav-link <%= nav_active('contact.html') %>" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</header>
<hr class="m0 muted">