<div class="my2">
  <div class="col-12 sm-col-8">
    <h1 class="regular">Please feel free to email, or call me with any questions you have.</h1>
    <h2 class="regular mt0 mb1">502-648-5798</h2>
    <h2 class="regular mt0">
    	<a href="mailto:results24@aol.com">results24@aol.com</a>
    </h2>
  </div>
</div>