<div class="my2">
  <h1 class="regular">
    <%= title %>
  </h1>
</div>

<% products.each do |product| %>
  <div class="sm-flex flex-wrap mxn3 mb4">
    <div class="col-12 sm-col-5 px3 mb2 sm-mb0">
      <h2 class="mb0"><%= product['product_name'] %></h2>
      <p class="mt0"><%= product['product_description'] %></p>
    </div>
    <div class="col-12 sm-col-7 px3">
      <div class="gallery">
        <% product.image.each do |image| %>
          <div class="gallery-cell flex items-center justify-center">
            <img class="gallery-img" data-flickity-lazyload="<%= image.url %>" alt="Image">
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
