---
title: Rothenberg Wood
---

<div class="my2">
  <div class="col-12 sm-col-8">
    <h1 class="regular">Art Rothenberg is an artisan <strong>wood-worker</strong> and <strong>craftsman</strong>, based in Louisville, KY</h1>
  </div>
</div>

<div class="sm-flex flex-wrap mxn2 mt3 sm-mt4">
  <% categories = data.site.category.sort_by {|id, cat| cat.order} %>
  <% categories.each do |id, category| %>
    <div class="col-12 sm-col-4 px2 mb3">
      <% link_to category.slug do %>
        <img data-original="<%= category['featured_product'].url %>" class="image-tile col-12"/>
      <% end %>
      <h2 class="mb1">
        <%= category.title %>
      </h2>
      <p class="mt0">
        <%= category['category_description'] %>
      </p>
    </div>
  <% end %>
</div>
