---
title: Rothenberg Wood
---

<div class="my2">
  <div class="col-12 sm-col-8">
    <h1 class="regular">Art Rothenberg is an artisan <strong>wood-worker</strong> and <strong>craftsman</strong>, based in Bluffton, SC</h1>
    <p class="my0 h2">502-648-5798</p>
    <a class="my0 h2" href="mailto:results24@aol.com">results24@aol.com</a>
  </div>
</div>

<div class="sm-flex flex-wrap mxn2 mt3 sm-mt4">
  <% data.site.categories.first[1].cat_list_categories.each do |category| %>
    <div class="col-12 sm-col-4 px2 mb3">
      <figure class="image-tile mx0 my0">
        <% link_to category.slug do %>
          <img data-original="<%= category['featured_product'].url %>" class="image-tile col-12"/>
        <% end %>
      </figure>
      <h2 class="mb1">
        <%= category.title %>
      </h2>
      <p class="mt0">
        <%= category['category_description'] %>
      </p>
    </div>
  <% end %>
</div>
