<div class="my2">
  <h1 class="regular">Mirrors</h1>
</div>

<% data.work.work.mirrors.projects.each do |project| %>
	<div class="sm-flex flex-wrap mxn3 mb4">
		<div class="col-12 sm-col-6 px3 mb2 sm-mb0">
			<h2 class="mb0"><%= project.title %></h2>
			<p class="mt0"><%= project.description %></p>
		</div>
		<div class="col-12 sm-col-6 px3">
			<div class="gallery">
				<% project.images.each do |image| %>
					<%= image_tag image, class: 'col-12' %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>